<!DOCTYPE html>
<html lang="en">
<head>
{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock meta %}

{% block bootstrap %}
  
{% endblock bootstrap %}

{% block base_links %}
  
{% endblock base_links %}

{% block links %}
  
{% endblock links %}

{% block extra_head %}
  
{% endblock extra_head %}

    <title>{% block title %}Url Scanner{% endblock title %}</title>
</head>
<body>
{% block body %}

    {% block header %}

    {% endblock header %}

    {% block content %}
      
    {% endblock content %}

    {% block footer %}
      
    {% endblock footer %}

{% endblock body %}

{% block extra_body %}
  
{% endblock extra_body %}
</body>
</html>